body {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/src/imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pokedex {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}

.global h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: -25px;
    margin-bottom: -25px;
}